<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pfInventory</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<style>
  .container{  
    text-align: center;
  }
</style>
<body class="nav-wrapper deep-purple lighten-5">
    <nav>
        <div class="nav-wrapper deep-purple lighten-2">
          <a href="#" class = "brand-logo grey-text text-lighten-3" style = "font-family:'Trebuchet MS'">P O C K E T</a>
          <ul id="nav-mobile" class="right hide-o`n-med-and-down ">
            <li><a href="/" class = "grey-text text-lighten-3" style = "font-family:'Trebuchet MS'; font-size:20px">Home</a></li>
            <li><a href="/items" class = "grey-text text-lighten-3" style = "font-family:'Trebuchet MS'; font-size:20px">Frogs</a></li>
          </ul>
        </div>
      </nav>
    <div class = "container">
        <h1 class = "center grey-text text-darken-2" style = "font-family:'Trebuchet MS'">Welcome!</h1>
        <h2 class = "center grey-text text-darken-2" style = "font-family:'Trebuchet MS'">Track and Manage your Pocket Frog Collection!</h2>
        <a class="btn-large deep-purple lighten-2 grey-text text-lighten-3" href="/items" style = "font-family:'Courier'; font-size:20px">
          <i class="material-icons right">arrow_forward</i>
          Go to Inventory!
      </a>
    </div>
</body>
</html>